<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sympto</title>
  <link rel="stylesheet" href="../static/css/ind.css">
</head>

<body>
  <div class="row">
    <div class="home_main">
      <h2 style="color: #FF695E">User Information</h2>

      <form action="/" method="POST">
        <div class="age">
          <h3>Age</h3>
          <input type="number" name="age" required>
        </div>

        <div class="gender">
          <h3>Sex</h3>
          <div class="radio-group">
            <div class="radio-button">
              <input type="radio" id="male" name="sex" value="male" required>
              <label for="male">Male</label>
            </div>
            <div class="radio-button">
              <input type="radio" id="female" name="sex" value="female">
              <label for="female">Female</label>
            </div>
          </div>
        </div>
        <br>
        <button type="submit" class="submit-btn">Next
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
          </svg>
        </button>
      </form>
    </div>
  </div>
</body>

</html>