<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sympto</title>
    <link rel="stylesheet" href="../static/css/symptomOutput.css">
</head>
<style>
  .pred.selected {
    background-color: #c04507;
    color: white; 
}
</style>
<body>
    <div class="row">
        <div class="home_main">
            <h2 style="color: #FF695E">Predictions</h2>
            
            <div class="predictions">
              {% for i in range(5) %}
              <div class="pred" id="pred{{ i }}" onclick="toggleInfo({{ i }})">
                <h3>{{ prediction[i][0] }}</h3>
                <p style="display: flex;justify-content: center;align-items: center;"><progress value="{{ prediction[i][1] }}" max="100" style="--value: {{ prediction[i][1] }}; --max: 100;"></progress></p>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="right-container">
        <div class="details">
          {% for i in range(5) %}
          <div>
          <h3 >{{ prediction[i][0] }}</h3>
          <p class="info">{{ info[i] }}</p>
          </div>
          {% endfor %}
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/Js/symptomOutput.js"></script>
</body>
</html>
